@import "/Users/kyasbal/grimoire/dcexpo/src/client/index.styl"
.buttonBeltContainer
    width 90%
    margin 0 auto
    height $bottom-height + 20px
    display flex
    flex-direction column
    justify-content space-around