@import "/Users/kyasbal/grimoire/dcexpo/src/client/index.styl"
.buttonOuter
    margin 0 auto
    width $bottom-height
    height $bottom-height
    border-radius ($bottom-height/2)
    display flex
    flex-direction column
    justify-content space-around
    text-align center
    color white
    box-shadow 0 0 15px rgba(0,0,0,.3)
    &:hover
        cursor pointer
        box-shadow 0 0 15px rgba(0,0,0,.7)
    &>p
        transform scale(0.7)

.prevButton
    background-color #51A9DE

.nextButton
    background-color #DE3831