.container
    border-radius 10px
    height 40px
    border 1px solid dimgray 
    display flex
    justify-content space-around
    flex-direction column
    margin 5px 20px
    width 300px
    &:hover
        cursor pointer
.text
    color black
    text-align center
    margin 0px

.container-selected
    border-radius 10px
    height 40px
    border 1px solid #DE3831
    background-color #DE3831
    display flex
    justify-content space-around
    flex-direction column
    margin 5px 20px
    width 300px
    &:hover
        cursor pointer

.text-selected
    color white
    text-align center
    margin 0px